In [1]:
my_tuple=(1,2,3)
print(my_tuple)

(1, 2, 3)

In [3]:
x=(9,9,9,0,7)
print(x)

(9, 9, 9, 0, 7)

In [4]:
my_tuple=(1,"hello world",3.6)
print(my_tuple)

(1, 'hello world', 3.6)

In [5]:
my_tuple=("mouse",[8,9,6],(1,2,3))
print(my_tuple)

('mouse', [8, 9, 6], (1, 2, 3))

In [8]:
my_tuple=6,8.9,'''apple'''
print(my_tuple)

(6, 8.9, 'apple')

In [11]:
my_tuple=('p','q','h','g','d','o')
print(my_tuple[5])
print(my_tuple[0])

o
p

In [12]:
n_tuple=("mouse",[6,8,9],[0,4,1])
print

In [13]:
my_tuple=('e','i','o','w','q','e')
print(my_tuple[1:4])
print(my_tuple[:-4])
print(my_tuple[3:])
print(my_tuple[1:4])

('i', 'o', 'w')
('e', 'i')
('w', 'q', 'e')
('i', 'o', 'w')

In [14]:
my_set={1,3}
print(my_set)

{1, 3}

In [15]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [16]:
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [17]:
my_set={7,8,9,5,4}
print(my_set)

{4, 5, 7, 8, 9}

In [18]:
my_set.discard(5)
print(my_set)

{4, 7, 8, 9}

In [19]:
my_set.remove(8)
print(my_set)

{4, 7, 9}

In [20]:
my_set.pop()
print(my_set)

{7, 9}

In [22]:
my_set.clear()
print(my_set)

set()

In [23]:
A={1,2,34,55,66}
B={4,5,6,8,99}
print(A|B)

{1, 2, 34, 66, 99, 4, 5, 6, 8, 55}

In [24]:
A.union(B)

{1, 2, 4, 5, 6, 8, 34, 55, 66, 99}

In [25]:
B.union(A)

{1, 2, 4, 5, 6, 8, 34, 55, 66, 99}

In [26]:
A={4,7,9,5,8}
B={1,23,4,5,50}
print(A&B)

{4, 5}

In [27]:
A.intersection(B)

{4, 5}

In [30]:
A={1,3,5,7,9}
B={2,3,7,8,9}
print(A-B)

{1, 5}

In [31]:
print(A^B)

{1, 2, 5, 8}

In [32]:
A.symmetric_difference(B)

{1, 2, 5, 8}

In [36]:
my_dict={1: 'apple',2: 'bannana'}

In [41]:
my_dict={'name': 'jack', 'age': 26, 'address':'lucknow'}
print(my_dict)

{'name': 'jack', 'age': 26, 'address': 'lucknow'}

In [39]:
print(my_dict.get('age'))

26

In [42]:
print(my_dict['address'])

lucknow

In [52]:
my_dict=['age'] = 24
print(my_dict)

SyntaxError: cannot assign to literal (1255695757.py, line 1)

In [50]:
my_dict['address'] = 'downtown'
print(my_dict)

{'name': 'jack', 'age': 26, 'address': 'downtown'}

In [54]:
squares={1: 1, 2:4, 3:9, 4:16}
print(squares.pop(4))

16

In [60]:
print(squares.popitem())

KeyError: 'popitem(): dictionary is empty'

In [57]:
squares.clear()

In [63]:
del squares (2)#variable name

SyntaxError: cannot delete function call (279552634.py, line 1)